@import url(/css/main.css);

section.Privacy-Policy{
  margin-top: 100px;
}

section.Privacy-Policy .inner{
  padding-bottom: 70px;
}

.Privacy-Policy hr {
  margin: 180px 20px 0 20px;
}

.Privacy-Policy.main-title {
  font-weight: 400;
  font-style: normal;
  font-family: "Rubik", sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 0 20px;
}

.Privacy-Policy.title {
  font-size: 20px;
  font-weight: 600;
  color: #de5221;
  padding: 40px 0 5px 0;
}
.Privacy-Policy.title:nth-child(1) {
  padding-top: 0;
}

.Privacy-Policy.main-text {
  font-size: 14px;
  line-height: 1.7;
  padding-left: 15px;
}